<a href="https://colab.research.google.com/github/mateusbissani/TrabNaoSupervisionado/blob/main/TrabNaoSupervisionado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
df = pd.read_csv('/content/drive/MyDrive/Data Science/2020-11-03_FILA_-_Base De Dados.csv',
                      sep=',', encoding='iso-8859-1')

In [21]:
df.head()

,id,data_inscricao,data_validade,condicao_especial,faixa_renda,bairro,cidade,data_lote
0,1,30/12/86,07/2021,Mulher,FAIXA 3 (mais de 3275),NÚCLEO HABITACIONAL DOUTOR ABRANCHES GUIMARÃES,Campo Largo,03/11/20 10:28
1,2,26/04/88,07/2021,Mulher,FAIXA 1 (menos de 1600),Campo Comprido,Curitiba,03/11/20 10:28
2,3,17/05/88,04/2021,Mulher,FAIXA 2 (entre 1600 e 3275),Cidade Industrial,Curitiba,03/11/20 10:28
3,4,12/07/90,01/2021,Nenhum critério atingido,FAIXA 3 (mais de 3275),Cidade Industrial,Curitiba,03/11/20 10:28
4,5,03/07/89,04/2020,Mulher,FAIXA 1 (menos de 1600),Capão da Imbuia,Curitiba,03/11/20 10:28

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41775 entries, 0 to 41774
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 41775 non-null  int64
 1   data_inscricao     41775 non-null  object
 2   data_validade      41775 non-null  object
 3   condicao_especial  41775 non-null  object
 4   faixa_renda        41775 non-null  object
 5   bairro             40683 non-null  object
 6   cidade             41750 non-null  object
 7   data_lote          41775 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.5+ MB